<style>
   @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

   body {
      font-family: 'Inconsolata', monospace;
      background-color: black;
      color: #00FF00;
   }
</style>
