/* style-base.css */

body {
    font-family: Minecraftia;
    text-align: center;
    background-color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-weight: 100;
}

th {
    font-size: 22px;
}

.black {
    color: #000000;
}

.black.shadow {
    text-shadow: 3px 3px #000000;
}

.dark_blue {
    color: #0000AA;
}

.dark_blue.shadow {
    text-shadow: 3px 3px #00002A;
}

/* Add the rest of the styles here */

/* ... */

.italic {
    font-style: italic;
}
